body{
	background: url('../img/bg.jpg')no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}

#wrapper{
	display: none;
}

.hr{

}

.centrera{
	text-align: center;
}
.padded{
	padding:10px;
}
.infobox{
	background-color: #eee;
	border-radius: 5px;
	line-height: 12px;
	margin-bottom: 20px;
}
.infobox img{
	max-width: 150px;
	max-height: 300px;
	margin-bottom: 5px;
}

#kontaktinfo{
	display: none;
	color: #333;
}

#logga{

}

#kontaktbtn{

}

#kontaktbtn h3:hover{
	color:#555;
	cursor: pointer;
}

#logga h3{
	margin-bottom: 0px;
}