body{
	background-color: #333;
}

.centrera{
	text-align: center;
}
.padded{
	padding:10px;
}
.infobox{
	background-color: #eee;
	border-radius: 5px;
	line-height: 12px;
	margin-bottom: 20px;
}
.infobox img{
	max-width: 150px;
	max-height: 300px;
	margin-bottom: 5px;
}

#kontaktinfo{
	display: none;
}
#kontaktbtn{
	color: #ccc;
}
#logga{
	color: #ccc;
}
#logga h3{
	margin-bottom: 0px;
}