body{
	background-color: #333;
}

.centrera{
	text-align: center;
}
.padded{
	padding:10px;
}
.infobox{
	background-color: #eee;
	border-radius: 5px;
	line-height: 12px;
}
.infobox img{
	max-width: 150px;
	max-height: 300px;
	margin-bottom: 5px;
}